[submodule "dev-files-api"]
	path = dev-files-api
	url = https://github.com/bccalegari/dev-files-api.git
[submodule "dev-files-iac"]
	path = dev-files-iac
	url = https://github.com/bccalegari/dev-files-iac.git
[submodule "dev-files-ai-service"]
	path = dev-files-ai-service
	url = https://github.com/bccalegari/dev-files-ai-service.git
[submodule "dev-files-notification-service"]
	path = dev-files-notification-service
	url = https://github.com/bccalegari/dev-files-notification-service.git
